        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Heebo', sans-serif;
        }
        
         :root {
            --dark: #21243D;
            --primary: #FF6464;
            --secondry: #00A8CC;
            --light: #8695A4;
        }
        
        a {
            text-decoration: none;
            display: inline-block;
            color: var(--dark)
        }
        
        a:hover {
            font-weight: 500;
        }
        
        .container {
            width: 100%;
            padding: 0 148px;
        }
        
        #home-section {
            height: 100vh;
        }
        
        .menu ul {
            display: flex;
            justify-content: flex-end;
            padding: 30px 0
        }
        
        .menu ul li {
            list-style: none;
        }
        
        .menu ul li a {
            padding: 7px 10px;
            color: var(--dark);
            font-weight: 600;
        }
        
        .my-self {
            display: flex;
            flex-wrap: wrap;
            padding: 50px 0;
        }
        
        .my-self .self-left {
            width: 50%;
        }
        
        .self-left h1 {
            font-weight: bold;
            font-size: 44px;
            line-height: 60px;
        }
        
        .self-left p {
            width: 497px;
            font-family: Heebo;
            font-size: 16px;
            line-height: 23px;
            margin: 37px 0;
            color: var(--dark);
            text-align: justify;
            padding-right: 2px;
        }
        
        .self-left a {
            font-weight: 500;
            font-size: 20px;
            line-height: 29px;
            color: #FFFFFF;
            background: var(--primary);
            padding: 7px 10px;
        }
        
        .self-right {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        /* start recent post */
        
        .rc-section {
            background: #EDF7FA;
            padding: 30px 145px;
        }
        
        .recent-post-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 0;
        }
        
        .recent-post-header .rc-left a {
            font-size: 22px;
        }
        
        .recent-post-header .rc-right a {
            color: var(--secondry);
        }
        
        .recent-post-header .rc-right a:hover {
            font-weight: 600;
        }
        
        .rc-post-container {
            display: grid;
            grid-column-gap: 20px;
            grid-template-columns: 1fr 1fr;
        }
        
        .rc-post {
            padding: 25px;
            background: #fff;
        }
        
        .rc-post h2 {
            font-weight: bold;
            font-size: 29px;
            line-height: 44px;
        }
        
        .rc-post ul {
            display: flex;
            margin: 15px 0;
        }
        
        .rc-post ul li {
            list-style: none;
            height: 30px;
        }
        
        .rc-post ul li a {
            padding: 7px 20px 7px 0;
        }
        
        .rc-post p {
            width: 90%;
            font-size: 16px;
            line-height: 23px;
            padding-right: 45px;
        }
        
        #hr-verti {
            width: 0px;
            height: 100%;
            margin-right: 20px;
        }
        /* feature works section start */
        
        #fw-section {
            padding: 15px 148px;
        }
        
        #fw-section h2 {
            margin: 10px 0;
        }
        
        .fw-container {}
        
        .fw-container .fw-post {
            display: flex;
            border-bottom: 1px solid #E0E0E0;
            padding: 10px 0;
        }
        
        .fw-container .fw-post .fw-img {
            width: 40%;
        }
        
        .fw-container .fw-post img {
            width: 100%;
        }
        
        .fw-container .fw-post .fw-blog {
            margin-left: 10px;
            padding-left: 15px;
        }
        
        .fw-post .fw-blog h2 {
            font-weight: bold;
            font-size: 29px;
        }
        
        .fw-post .fw-blog .fw-archive {
            padding: 5px 0
        }
        
        .fw-archive .fw-btn {
            display: inline-block;
            background: var(--dark);
            padding: 1px 10px;
            border-radius: 40%;
            color: #fff;
            font-size: 18px;
            font-weight: 600;
        }
        
        .fw-archive .fw-cat {
            display: inline-block;
            padding: 7px;
            margin-left: 5px;
            color: var(--light);
            font-size: 20px;
            font-weight: 500;
        }
        
        .fw-blog p {
            width: 80%;
            font-size: 17px;
            line-height: 25px;
            color: var(--dark);
        }
        /* footer css start */
        
        footer {
            padding: 50px 148px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        
        .social {
            display: flex;
            list-style: none;
            margin-bottom: 10px;
        }
        
        .social li {
            border-radius: 50%;
            font-size: 40px;
            margin: 0 12px;
            color: var(--dark);
        }